:root {
    --color1: #6ad9af;
    --color2: #5F4B8B;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: url(../img/abstrukt_3.png), radial-gradient(circle, rgba(95, 75, 139, 1) 60%, rgba(106, 217, 175, 1) 90%);
}

header {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Russo One', sans-serif;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jid-toptitle {
    text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
}

.jid-btn {
    /*
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    */
    background-color: var(--color2);
    border: solid 2px var(--color1);
    color: white;
}
.jid-btn:hover,
.jid-btn:focus {
    background-color: var(--color1);
    border: solid 2px var(--color1);
}

.run-text {
    margin-top: 1px;
    height: 50px;
    background-color: rgba(95, 75, 139, 0.8);
    background: url(../img/abstrukt_2.png), radial-gradient(circle, rgba(95, 75, 139, 0.2) 60%, rgba(106, 217, 175, 0.2) 90%);
    background-size: contain;

}

.text-window {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    animation: text 15s linear infinite alternate;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
}

.text-window:hover {
    animation-play-state: paused;
}

@keyframes text {
    0% {
        transform: translate(100%, 0);
        color: var(--color2);
    }

    40%,
    60% {
        color: rgba(106, 217, 175, 1);
    }

    100% {
        transform: translate(-100%, 0);
        color: var(--color2);
    }
}

.ladder-item {
    text-transform: uppercase;
    margin-bottom: 1em;
}

.buy-form {
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(106, 217, 175, 0.25);
    background-color: rgba(19, 135, 243, 0.527);

}

.fading span {
    animation: fading 6s alternate infinite;
    opacity: 0;
    font-family: 'Raleway', sans-serif;
    color: rgba(95, 75, 139, 1);
}

@keyframes fading {
    0% {
        opacity: 0.3;
        filter: blur(10px);
    }

    15% {
        color: rgba(81, 0, 255, 0.8)
    }

    40%,
    60% {
        color: rgba(0, 253, 156, 0.8)
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        color: rgba(253, 173, 0, 0.8)
    }
}
#emailHelp {
    font-family: 'Roboto', sans-serif;
}
.buy-form__timer {
    text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
}

.alert {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    max-width: 220px;
    margin: 0 auto;
    z-index: 3;
}